<h1>Pull List</h1>

<div class="column">
  <% if List.last %>
    <h2>Pull List for <%= List.last.date %></h2>

    <h3>Purchase:</h3>
    <% if comics_to_purchase.count > 0 %>
      <ul>
        <% comics_to_purchase.each do |comic| %>
          <%= render 'comic_display', comic: comic %>
        <% end %>
      </ul>
    <% end %>

    <h3>Download:</h3>
    <% if comics_to_download.count > 0 %>
      <ul>
        <% comics_to_download.each do |comic| %>
          <%= render 'comic_display', comic: comic %>
        <% end %>
      </ul>
    <% end %>
    <h4><%= link_to "Reset", reset_path(List.last.id) %></h4>
  <% else %>
    <h2>You have not created a list yet</h2>
  <% end %>

  <% if leftovers.count > 0 %>
    <h2>Left from previous weeks:</h2>
    <% if leftovers_to_purchase.count > 0 %>
      <h3>Purchase:</h3>
      <ul>
        <% leftovers_to_purchase.each do |comic| %>
          <%= render 'comic_display', comic: comic %>
          <span class="small-bold uppy">From: <%= comic.list.date %></span>
        <% end %>
      </ul>
    <% end %>

    <% if leftovers_to_download.count > 0 %>
      <h3>Download:</h3>
      <ul>
        <% leftovers_to_download.each do |comic| %>
          <%= render 'comic_display', comic: comic %>
          <span class="small-bold uppy">From: <%= comic.list.date %></span>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <h2>Comics from the last 4 lists:</h2>
    <ul>
      <% previous_months_comics_sorted.each do |comic| %>
        <%= render 'previous_comic_display', comic: comic %>
        <span class="small-bold uppy">From: <%= comic.list.date %></span>
      <% end %>
    </ul>
</div>

<div class="column">
  <% if List.last && List.last.date == next_date %>
    <h2>Full list for <%= next_date %></h2>
    <% comic_list.each do |comic| %>
      <p><%= comic %></p>
    <% end %>
  <% else %>
    <h2>Create List for <%= next_date %></h2>

    <%= form_tag "/create" do %>
      <%= hidden_field_tag :date, next_date %>

      <% comic_list.each do |comic| %>
      <div class="comic <%= 'followed' if title_followed?(comic) %>">
        <div class="title"><%= comic %></div>
        <div class="select">
          <%= radio_button_tag comic, 'purchase' %>
          <%= label_tag "#{comic}_purchase", 'BUY' %>
          <%= radio_button_tag comic, 'download' %>
          <%= label_tag "#{comic}_download", 'DL' %>
        </div>
        <% if title_followed?(strip_issue_info(comic)) %>
          <br>
          <span class="small-bold">
            Last issue: <%= last_followed_issue(comic).title %>
            <%= link_to 'Unfollow', unfollow_path(strip_issue_info(comic)) %>
          </span>
        <% end %>
      </div>
      <% end %>

      <%= submit_tag 'Submit' %>
    <% end %>
  <% end %>
</div>

<div class="clear"></div>